<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Details of incomings and expenses</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Amount</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items | walletOrder">
              <td>{{item.description}}</td>
              <td>{{item.amount | currency}}</td>
              <td>
                <span [ngClass]="{ 
                  'text-success': item.type === 'Incoming',
                  'text-danger': item.type === 'Expense'
                  }">
                  {{ item.type }}
                </span>
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteItem(item)">
                  <i class="fa fa-trash"></i>
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>