<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add incoming/expense</h4>
        <p class="card-description">
          Specify the amount and type
        </p>
        <form (ngSubmit)="createWalletItem()" [formGroup]="walletForm">
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="Description" name="description" formControlName="description">
          </div>
          <div class="form-group">
            <label>Amount</label>
            <input type="number" class="form-control" placeholder="Amount" name="amount" formControlName="amount">
            <p>
              It must be a positive amount
            </p>
          </div>
          <div class="form-group">
            <label>Type</label>
            <br>
            <button (click)="itemType = 'Expense'" *ngIf="itemType === 'Incoming'" type="button" class="btn btn-primary btn-block">Incoming</button>
            <button (click)="itemType = 'Incoming'" *ngIf="itemType === 'Expense'" type="button" class="btn btn-warning btn-block">Expense</button>
          </div>
          <hr>
          <button *ngIf="!isLoading" [disabled]="walletForm.invalid" type="submit" class="btn btn-success mr-2">
            <i class="fa fa-save"></i>
            Add
          </button>
          <button disabled *ngIf="isLoading" class="btn btn-success mr-2">
            <i class="fa fa-spinner fa-spin"></i>
            Wait please...
          </button> 
             
          <button type="reset" class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>